body{
    background-color: rgb(255, 241, 252);
}

main {
    text-align: center;
}

.img-acessorios{
    height: 350px;
}


.grupo um{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;

}



