body {
    font-family: Arial, sans-serif;
    background-color: #f1e2ee;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: up;
    height: 100vh;
}

